@import './vars.scss';

.contacts-cont {
    > h2 {
        color: $lightText;
    }
    margin-top: 60px;
}
.contact-list {
    li {
        display: flex;
        align-items: center;
        .text-number {
            width: 150px;
            margin-left: 5px;
        }
        .text-name {
            width: 200px;
        }
        .btn-delete {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-weight: 900;
            &:hover {
                color: rgb(109, 0, 0);
            }
        }
    }
}
